@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@800&display=swap');

* {
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    text-decoration: none;
    font-style: normal;
    outline: none;
}

html {
    scroll-behavior: smooth;
}

:root {
    --white-900: #ffffff;
    --orange-500: #ff5200;
    --gray-500: #2c2929;
    --black-900: #000000;
    --shadow-box: inset 0px 0px 0 1px var(--white-900);
    --trasparent: transparent;
    --shadow-letter: 1px 1.5px rgb(196, 69, 23), 2px 1.5px var(--black-900);
}
main {
    width: 90vw;
}
.container {
    width: 100%;
    margin: auto;
    display: flex;
}