@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@800&display=swap');

* {
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxanium', sans-serif;
    margin: 0;
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    outline: none;
}

html {
    scroll-behavior: smooth;
}

:root {
    --white-900: #ffffff;
    --orange-500: #ff5200;
    --gray-500: #2c2929;
    --black-900: #000000;
    --shadow-box: inset 0px 0px 0 1px var(--white-900);
    --trasparent: transparent;
    --shadow-letter: 1px 1.5px rgb(196, 69, 23), 2px 1.5px var(--black-900);
}

body {
    background-color: var(--gray-500);
}

header {
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    width: 80vw;
    background-color: var(--black-900);
    margin: auto;
    padding: 1%;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--orange-500);
    transition: 0.6s all;
}

.material-symbols-outlined {
    display: none;
}

.icon {
    width: 12%;
    margin-left: 2%;
}

.icon img {
    width: 100%;
}

nav {
    width: 60%;
    display: flex;
    gap: 5%;
    padding: 1.5%;
    margin: 2%;
}

.home,
.location,
.book,
.suport {
    background-color: var(--trasparent);
    border: none;
    color: var(--white-900);
    border-radius: 5px;
    padding: 0.5%;
    opacity: 0.7;
    padding: 1%;

}

.home:hover,
.location:hover,
.book:hover,
.suport:hover {
    opacity: 1;
    box-shadow: var(--shadow-box);
    transition: 0.6s all;
}

button a {
    font-size: 2.3vw;
    color: var(--white-900);
    text-shadow: var(--shadow-letter);
}

button a:visited {
    color: var(--white-900);
}

.section-carousel {
    display: flex;
    width: 80vw;
    background-color: var(--black-900);
    margin: auto;
    padding: 1%;
    align-items: center;
    justify-content: center;
    gap: 2px;
    flex-direction: column;
}

.carousel {
    display: flex;
    flex-direction: column;
    width: 85.3%;
    overflow: hidden;
}

.title-one {
    margin: 10px 0;
    text-align: center;
    color: var(--white-900);
    text-transform: uppercase;
    font-size: 3.1vw;
    text-shadow: var(--shadow-letter);
}

.content-carousel {
    display: flex;
    gap: 1.1%;
    transition: 1s all;
}

.content-carousel a img {
    width: 16vw;
    height: 340px;
    border-radius: 5px;
}

.btn-carousel {
    display: flex;
    width: 90px;
    justify-content: space-between;
}

.btn-next,
.btn-back {
    font-size: 30px;
    border: none;
    opacity: 0.4;
    font-weight: 900;
    color: var(--orange-500);
    background-color: var(--trasparent);
}

.btn-next:hover,
.btn-back:hover {
    opacity: 1;
    cursor: pointer;
}

.section-galery {
    width: 80vw;
    background-color: var(--black-900);
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.section-container-galery {
    margin-top: 100px;
    border: 1px solid var(--orange-500);
    width: 90%;
    border-radius: 10px;
}

.content-galery {
    display: flex;
    gap: 2%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.title-two {
    margin: 15px 0;
    text-align: center;
    color: var(--white-900);
    text-transform: uppercase;
    font-size: 3.5vw;
    text-shadow: var(--shadow-letter);
}

.book-buy {
    color: var(--white-900);
    background-color: var(--gray-500);
    box-shadow: var(--shadow-box);
    width: 12vw;
    padding: 0.4%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0.8% 0;
}

.book-buy a img {
    width: 100%;
    height: 15vw;
    border-radius: 5px;
}

.book-buy p {
    font-size: 1vw;
    text-align: center;
    margin-top: 10px;
}

.value {
    font-size: 2vw;
}

.btn-buy {
    width: 10vw;
    margin: 1% 0;
    padding: 3%;
    border: none;
    background-color: var(--orange-500);
    border-radius: 5px;
    box-shadow: 1px 2px 0 0 black;
    opacity: 0.7;
}

.btn-buy:hover {
    opacity: 1;
}

.btn-buy a {
    font-size: 1.6vw;
}

.section-location {
    margin-top: 100px;
    width: 80vw;
    margin: auto;
    background-color: var(--black-900);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid var(--orange-500);
    padding: 3%;
}

.content-location {
    display: flex;
    width: 100%;
    padding: 1%;
}

.content-location iframe {
    border-radius: 10px;
    box-shadow: var(--shadow-box);
    box-shadow: 1px 1px 0 white;
}

.andress {
    display: flex;
    flex-direction: column;
    color: var(--white-900);
    padding: 1%;
    list-style-type: none;
    align-items: center;
    text-align: center;
}

.andress li {
    margin: 5px;
    font-size: 1.8vw;
}

.andress img {
    width: 60%;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 0 white;
}

.title-three {
    margin: 40px 0;
    text-align: center;
    color: var(--white-900);
    text-transform: uppercase;
    font-size: 3.5vw;
    text-shadow: var(--shadow-letter);
}

footer {
    width: 80vw;
    margin: auto;
    background-color: var(--black-900);
    display: flex;
    justify-content: space-around;
    height: 20vw;
    align-items: center;
}

.client,
.institution,
.create {
    gap: 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--white-900);
}

.client a,
.institution a,
.create a {
    color: var(--white-900);
    font-size: 1.2vw;
}

.client h3,
.institution h3 {
    color: var(--white-900);
    font-size: 1.8vw;
}

h4 {
    color: var(--white-900);
    font-size: 1.8vw;
}

.info {
    display: none;
}

@media screen and (max-width:1367px) {
    .content-carousel a img {
        width: 16vw;
        height: 25vw;
        border-radius: 5px;
    }

    .section-container-galery {
        margin-top: 4%;
    }

    .star {
        font-size: 1.2vw;
    }

    .btn-buy {
        margin-bottom: 3px;
    }

    .content-location iframe {
        width: 50%;
        height: inherit;
    }
}

@media screen and (max-width:600px) {
    header {
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
        padding: none;
        justify-content: start;
    }

    nav {
        width: 100%;
        display: none;
        flex-direction: column;
        align-items: center;
        gap: 3px;
        margin-top: 0;
    }

    .home a,
    .location a,
    .book a,
    .suport a {
        width: 100%;
        display: inline-block;
        font-size: 20px;
        text-transform: uppercase;
    }

    .home,
    .location,
    .book,
    .suport {
        width: 99%;
        background-color: var(--orange-500);
        border-radius: 0;
    }

    .icon {
        width: 50%;
        margin: 1%;
    }

    .material-symbols-outlined {
        font-size: 38px;
        font-weight: 900;
        color: var(--white-900);
        width: 97%;
        text-align: center;
        border-radius: 5px;
    }

    .material-symbols-outlined:active {
        background-color: var(--white-900);
        color: var(--black-900);
    }

    .section-carousel {
        width: 100%;
        background-color: var(--black-900);
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .content-carousel {
        background-color: black;
        gap: 0;
    }

    .content-carousel a img {
        width: 85.5vw;
        height: 115vw;
        border-radius: 5px;
    }

    .title-one {
        font-size: 35px;
    }

    .section-galery {
        width: 100%;
    }

    .content-galery {
        display: flex;
        gap: 2%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
    }

    .title-two {
        font-size: 5.9vw;
        padding: 1%;
    }

    .book-buy {
        width: 90%;
        padding: 5%;
        margin: 4% 0;
        border-radius: 0;
    }

    .book-buy a {
        width: 85%;
    }

    .book-buy a img {
        width: 100%;
        height: 90vw;
        border-radius: 0;
        box-shadow: 2px 2px var(--white-900), 2px 2px var(--black-900);
    }

    .book-buy p {
        font-size: 4.5vw;
    }

    .star {
        font-size: 4.5vw;
    }

    .value {
        font-size: 5vw;
    }

    .btn-buy {
        width: 95%;
        opacity: 1;
    }

    .btn-buy a {
        display: inline-block;
        width: 100%;
        font-size: 5vw;
    }

    .section-location {
        width: 100%;
    }

    .content-location {
        flex-direction: column;
    }

    .content-location iframe {
        width: 100%;
        border-radius: 0;
        height: 50vw;
    }

    .andress li {
        margin: 10px 0;
        font-size: 3.8vw;
    }

    .andress img {
        width: 90%;
        border-radius: 0;
    }

    .title-three {
        font-size: 5.9vw;
    }

    footer {
        width: 100%;
        flex-direction: column;
        justify-content: flex-start;
        height: 120vw;
    }

    .client,
    .institution,
    .create {
        gap: 2vw;
        margin: 10px 0;
    }

    .client a,
    .institution a,
    .create a {
        font-size: 4.5vw;
    }

    .client h3,
    .institution h3 {
        font-size: 6vw;
    }

    h4 {
        font-size: 6vw;
    }
}

@media screen and (min-width:1367px) {

    button a {
        font-size: 1.9vw;
    }

    .carousel {
        width: 908.844px;
    }

    .title-one {
        font-size: 2.2vw;
    }

    .content-carousel a img {
        width: 218.719px;
        height: 340px;
        border-radius: 5px;
    }

    .book-buy {
        width: 12vw;
        border-radius: 0px;
    }

    .book-buy a img {
        padding: 1%;
        height: 13vw;
    }

    .btn-buy a {
        font-size: 1.2vw;
    }

    .value {
        font-size: 1.3vw;
    }

    .title-two {
        font-size: 2.2vw;
    }

    .content-location iframe {
        width: 60vw;
        height: 25vw;
        border-radius: 5px;
    }

    .andress li {
        font-size: 1.5vw;
    }

    .andress img {
        width: 70%;
        margin: 10px;
        border-radius: 5px;
    }

    .title-three {
        font-size: 2.2vw;
    }


    .client a,
    .institution a,
    .create a {
        font-size: 1.1vw;
    }

    .client h3,
    .institution h3 {
        font-size: 1.7vw;
    }

    h4 {
        font-size: 1.7vw;
    }

}

@media screen and (min-width:1500px) {
    .carousel {
        width: 1114.620px;
    }

    .content-carousel a img {
        width: 360px;
        height: 500px;
        border-radius: 5px;
    }
}