@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@800&display=swap');

* {
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    outline: none;
}

html {
    scroll-behavior: smooth;
}

:root {
    --white-900: #ffffff;
    --orange-500: #ff5200;
    --gray-500: #2c2929;
    --black-900: #000000;
    --shadow-box: inset 0px 0px 0 1px var(--white-900);
    --trasparent: transparent;
    --shadow-letter: 1px 1.5px var(--orange-500), 2px 1.5px var(--black-900);
}

body {
    background-color: var(--gray-500);
}

header {
    display: flex;
    z-index: 1;
    position: sticky;
    top: 0;
    width: 80vw;
    background-color: var(--black-900);
    margin: auto;
    padding: 1%;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--orange-500);
}

.icon {
    width: 15%;
}

.icon img {
    width: 100%;
}

.shopping {
    display: flex;
    width: 80vw;
    margin: auto;
}

.container {
    margin: auto;
    display: flex;
    width: 100%;
    color: var(--white-900);
    background-color: var(--black-900);
    padding: 1.5%;
    align-items: start;
    justify-content: space-evenly;
}

.content {
    margin: 1%;
    display: flex;
    flex-direction: column;
    padding: 1%;
    align-items: flex-start;
}

.title {
    font-family: 'Oxanium', sans-serif;
    font-size: 2vw;
    text-transform: uppercase;
    margin: 10px 0 0 0;
    font-weight: 900;
}

#quant {
    width: 4.49vw;
    padding: 6px;
    font-size: 1.2vw;
    font-weight: 600;
    border: none;
    border-radius: 2px;
    box-shadow: var(--shadow-box);
    background-color: var(--gray-500);
    color: var(--white-900);
    outline: none;

}

label {
    font-weight: 600;
    font-family: 'Oxanium', sans-serif;
}

.star {
    font-size: 1.3vw;
    margin: 10px 0 0 0;
}

.value {
    font-family: 'Oxanium', sans-serif;
    font-size: 2vw;
    margin: 10px 0;
    font-weight: 600;
}

.btn-buy {
    font-family: 'Oxanium', sans-serif;
    padding: 1%;
    width: 15%;
    outline: none;
    cursor: pointer;
    background-color: var(--orange-500);
    border: none;
    box-shadow: var(--shadow-box);
    border-radius: 2px;
    opacity: 0.8;
    margin: 10px 0;
    font-weight: 900;
    color: var(--white-900);
    font-size: 1.2vw;
}

.btn-buy:hover {
    opacity: 1;
}

.image {
    display: flex;
    text-align: start;
    width: 18vw;
    height: 25vw;
}

.info {
    margin-top: 20px;
    text-align: justify;
    overflow: hidden;
    font-style: italic;
    font-size: 1.1vw;
}

.read-less {
    font-family: 'Oxanium', sans-serif;
    width: 100%;
    margin: 10px 0 0 0;
    display: none;
    text-transform: capitalize;
    cursor: pointer;
    opacity: 0.7;
    font-size: 1vw;
}

.read-more {
    font-family: 'Oxanium', sans-serif;
    width: 100%;
    margin: 10px 0 0 0;
    text-transform: capitalize;
    cursor: pointer;
    opacity: 0.7;
    font-size: 1vw
}

.read-less:hover,
.read-more:hover {
    opacity: 1;

}

.register {
    position: fixed;
    z-index: 1;
    min-height: 200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40vw;
    margin: auto;
    background-color: var(--gray-500);
    border: 1px solid var(--orange-500);
    padding: 1%;
    display: none;
}

.location-cep {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background: var(--trasparent);
    width: 80%;
    padding: 1.5%;
    align-items: flex-start;

}

.location-cep h3 {
    color: var(--white-900);
    font-family: 'Oxanium', sans-serif;
}

.location-cep input {
    box-sizing: border-box;
    width: 100%;
    padding: 1%;
    font-family: sans-serif;
    font-size: 1.1vw;
    margin: 2px 0;
    outline: none;
    border: none;
    font-family: sans-serif;
    border-radius: 2px;
}

.location-cep input[type=number]::-webkit-inner-spin-button,
.location-cep [type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.closed {
    position: absolute;
    right: 0;
    top: 0;
    width: 1.5vw;
    height: 1.5vw;
    background-color: var(--orange-500);
    color: var(--white-900);
    border: none;
    font-size: 1vw;
}

.back,
.next,
.buy {
    width: 10vw;
    outline: none;
    border: none;
    padding: 1%;
    background-color: var(--orange-500);
    color: var(--white-900);
    font-family: 'Oxanium', sans-serif;
    cursor: pointer;
    opacity: 0.8;
    margin: 2px;
    border: 0.1px solid var(--white-900);
    text-align: center;
}

.back {
    background-color: var(--gray-500);
}

.back:hover,
.next:hover,
.buy {
    opacity: 1;
}

.personal-registration {
    display: none;
}

.personal-registration-content input {
    display: flex;
    flex-direction: column;
    width: 70%;
    box-sizing: border-box;
    padding: 1%;
    font-family: sans-serif;
    font-size: 1.1vw;
    margin: 3px 0;
    outline: none;
    border: none;
    font-family: sans-serif;
    border-radius: 2px;
}

.personal-registration-content h3 {
    color: var(--white-900);
    font-family: 'Oxanium', sans-serif;
}

.personal-registration-content input[type=number]::-webkit-inner-spin-button,
.personal-registration-content [type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.books-sugestions {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 80vw;
    background-color: var(--black-900);
    color: var(--white-900);
    gap: 1%;
}

.books-sugestions h2 {
    font-size: 2vw;
    text-transform: uppercase;
    font-family: 'Oxanium', sans-serif;
    margin: 10px 0 0 0;
    font-weight: 900;
    text-align: center;
}

.books-sugestions-content {
    display: flex;
    padding: 1%;
    justify-content: space-around;
    gap: 0.5%;
}

.book-buy {
    width: 16vw;
    min-height: 13vw;
    background: linear-gradient(to bottom, var(--black-900), var(--gray-500));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1%;
}

.sinopse img {
    width: 100%;
    height: 18vw;
}

.btn-suggestion {
    background-color: var(--orange-500);
    border: none;
    box-shadow: var(--shadow-box);
    opacity: 0.7;
    width: 85%;
    min-height: 3vw;
    cursor: pointer;
}

.btn-suggestion:hover {
    opacity: 1;
}

.btn-suggestion a {
    font-size: 1.5vw;
    color: white;
    font-family: 'Oxanium', sans-serif;
}

.btn-suggestion a:visited {
    color: white;
}

.star-suggestion {
    font-size: 1.3vw;
    font-family: 'Oxanium', sans-serif;
}

.value-sugestion {
    font-family: 'Oxanium', sans-serif;
    font-size: 1.3vw;
    font-weight: 600;
}

.book-buy p {
    text-align: center;
    font-size: 1vw;
    font-family: 'Oxanium', sans-serif;
}

footer {
    width: 80vw;
    margin: auto;
    background-color: var(--black-900);
    display: flex;
    justify-content: space-around;
    height: 20vw;
    align-items: center;
}

.client,
.institution,
.create {
    gap: 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--white-900);
}

.client a,
.institution a,
.create a {
    font-family: 'Oxanium', sans-serif;
    color: var(--white-900);
    font-size: 1.2vw;
}

.client h3,
.institution h3 {
    font-family: 'Oxanium', sans-serif;
    color: var(--white-900);
    font-size: 1.8vw;
}

h4 {
    font-family: 'Oxanium', sans-serif;
    color: var(--white-900);
    font-size: 1.8vw;
}

@media screen and (max-width:600px) {
    body {
        background-color: var(--black-900);
    }

    header {
        width: 100%;
    }

    .icon {
        width: 30%;
    }

    .shopping {
        width: 100%;
    }

    .container {
        flex-wrap: wrap;
        justify-content: start;

    }

    .title {
        font-size: 5vw;
    }

    .content-quant {
        margin: 8px 0;
    }

    #quant {
        width: 16vw;
        font-size: 3.5vw;
    }

    .author {
        font-size: 3vw;
    }

    label {
        font-size: 4.5vw;
    }

    .star {
        margin: 5px 0;
        font-size: 3.5vw;
    }

    .value {
        font-size: 5.5vw;
        margin: 0;
    }

    .btn-buy {
        padding: 5px;
        width: 50%;
        font-size: 4vw;
        margin: 5px;
    }

    .image {
        margin-top: 10px;
        width: 70%;
        height: 90vw;
        margin: 5px;
    }

    .image img {
        width: 100%;
        height: 100%;
        margin-left: 05px;

    }

    .info {
        width: 99%;
        font-size: 4vw;
    }

    .read-less,
    .read-more {
        font-size: 3vw;
        opacity: 1;
    }

    .register {
        padding: 10px;
        width: 90%;
        min-height: 20vh;

    }

    .location-cep {
        width: 100%;
    }

    .location-cep h3 {
        font-size: 4vw;
    }

    .location-cep input {
        width: 100%;
        font-size: 5vw;
    }

    .closed {
        font-size: 3vw;
        width: 5vw;
        height: 6vw;
    }

    .back,
    .next,
    .buy {
        width: 20vw;
        font-size: 3vw;
    }

    .personal-registration {
        display: none;
        width: 100%;
    }

    .personal-registration-content input {
        width: 99%;
        font-size: 5vw;
    }

    .personal-registration-content h3 {
        font-size: 4vw;
    }

    .books-sugestions {
        width: 100%;
        border-top: 1px solid var(--orange-500);
    }

    .books-sugestions h2 {
        font-size: 5vw;
        margin: 25px 0;
    }

    .books-sugestions-content {
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 10px;
    }

    .book-buy {
        min-width: 80vw;
        min-height: 80vw;
        justify-content: space-betweaen;
        background: linear-gradient(to top, var(--black-900), var(--gray-500), var(--black-900));
        border: 0.05px solid var(--gray-500);
    }

    .sinopse img {
        height: 80vw;
    }

    .btn-suggestion {
        opacity: 1;
        width: 60%;
        min-height: 8vw;
        padding: 3px;
        margin: 3px 0;
    }

    .btn-suggestion a {
        font-size: 4.5vw;
        font-weight: 600;
    }

    .star-suggestion {
        font-size: 3vw;
        margin: 0;
    }

    .value-sugestion {
        font-size: 5vw;
        margin: 5px 0;
        font-weight: 600;
    }

    .book-buy p {
        text-align: center;
        font-size: 3.1vw;
    }

    footer {
        margin-top: 20px;
        width: 100%;
        flex-direction: column;
        justify-content: flex-start;
        height: 100vw;
    }

    .client,
    .institution,
    .create {
        gap: 2vw;
        margin: 10px 0;
    }

    .client a,
    .institution a,
    .create a {
        font-size: 3.5vw;
    }

    .client h3,
    .institution h3 {
        font-size: 4vw;
    }

    h4 {
        font-size: 4vw;
    }

}