* {
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    outline: none;
}

html {
    scroll-behavior: smooth;
}

:root {
    --white-900: #ffffff;
    --orange-500: #ff5200;
    --gray-500: #2c2929;
    --black-900: #000000;
    --shadow-box: inset 0px 0px 0 1px var(--white-900);
    --trasparent: transparent;
    --shadow-letter: 1px 1.5px rgb(196, 69, 23), 2px 1.5px var(--black-900);
}

body {
    background-color: var(--gray-500);
}

header {
    display: flex;
    width: 80vw;
    background-color: var(--black-900);
    margin: auto;
    padding: 1%;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--orange-500);
}

.icon {
    width: 13%;
}

.icon img {
    width: 100%;
}

.container {
    margin: auto;
    display: flex;
    width: 80vw;
    color: var(--white-900);
    background-color: var(--black-900);
    padding: 1.5%;
    align-items: start;
    justify-content: space-evenly;
    min-height: 80vh;
}

.content {
    margin: 1%;
    display: flex;
    flex-direction: column;
    padding: 1%;
    align-items: flex-start;
}

.title {
    font-size: 2vw;
    text-transform: uppercase;
    margin: 10px 0 0 0;
    font-weight: 900;
}

#quant {
    width: 4.49vw;
    padding: 6px;
    font-size: 1.2vw;
    font-weight: 600;
    border: none;
    border-radius: 2px;
    box-shadow: var(--shadow-box);
    background-color: var(--gray-500);
    color: var(--white-900);
    outline: none;

}

label {
    font-weight: 600;
}

.star {
    font-size: 1.3vw;
    margin: 10px 0 0 0;
}

.value {
    font-size: 2vw;
    margin: 10px 0;
    font-weight: 600;
}

.btn-buy {
    padding: 1%;
    width: 15%;
    outline: none;
    cursor: pointer;
    background-color: var(--orange-500);
    border: none;
    box-shadow: var(--shadow-box);
    border-radius: 2px;
    opacity: 0.8;
    margin: 10px 0;
    font-weight: 900;
    color: var(--white-900);
    font-size: 1.2vw;
}

.btn-buy:hover {
    opacity: 1;
}

.image {
    display: flex;
    text-align: start;
    width: 18vw;
    height: 25vw;
}

.info {
    margin-top: 20px;
    text-align: justify;
    overflow: hidden;
}

.read-less {
    width: 100%;
    margin: 10px 0 0 0;
    display: none;
    text-transform: capitalize;
    cursor: pointer;
    border-bottom: 1px solid var(--white-900);
    opacity: 0.7;
}

.read-more {
    width: 100%;
    margin: 10px 0 0 0;
    text-transform: capitalize;
    cursor: pointer;
    opacity: 0.7;
    border-bottom: 1px solid var(--white-900);

}

.read-less:hover,
.read-more:hover {
    opacity: 1;

}

.register {
    position: absolute;
    min-height: 200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50vw;
    margin: auto;
    background-color: red;
    border-radius: 5px;
    padding: 1%;
    display: none;
}

.location-cep {
    display: flex;
    flex-direction: column;
    background-color: yellow;
    width: 70%;
    padding: 1.5%;
    row-gap: 5px;
    align-items: center;
}

.location-cep input {
    box-sizing: border-box;
    width: 100%;
    padding: 1%;
}

.personal-registration {
    display: none;
}